@model IEnumerable<WebApp.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="panel panel-default" style="padding-bottom:15px;color:maroon ">
        <h1 style="color:darkred; text-align:center;">List Of Products</h1>
        </div>
        <br />
        <br />
        <div class="row">
            <button class="btn btn-primary" onclick="alert('You should To Go Home Page!')">Filter</button>
            <p style="text-align:right;">
                @Html.ActionLink("Add Product", "Create", null, new { @class = "btn btn-primary btn-success" })
            </p>
            <br />
            <br />
            <br />
            @foreach (var item in Model)
            {

                <div class="col-md-3 thumbnail">
                    <img src="~/UpLoads/@Html.DisplayFor(model => item.Image)"
                         class="thumbnail" style="width:200px; height:200px;" />



                    <center>
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-success" })
                    </center>
                </div>

            }
        </div>
